/* GLOBAL */
body {
	background: url("../img/bg.png");
}

header {
	min-height: 275px;
	background: #fff;
}

nav li,
#return {
	text-decoration: none;
	list-style: none;
	display: block;
	/*height: 50px;
	width: 100px;*/
	padding-top: 20px;
	background: lightgray;
	border: 2px solid rgba(33, 68, 72, 0.59);
	border-radius: 15%;
	color: rgba(0, 0, 0, 0.55);
    text-align: center;
}

li:link {
	text-decoration: none;
}
li:visited {}
li:focus {}
li:hover {

	transform: scale(1.15);	
}
li:active {}


/* LAYOUT */
.container {
	background: transparent;
	margin: 0 auto;
	width: 90%;
}



/* Adpative Content */
iframe {
	max-width: 100%;
	width: 100%;
	/*margin: 0 40%;*/
}

img {
	max-width: 100%;
	width: 100%;
}

/* Desktop Query */
@media (min-width: 960px ) {
	#home {
		max-width: 300px;
		float: left;
		margin: 0 50px 0 0;
	}
	nav ul {
		float: left;
		margin: 15px 10px 0 10px;
	}

	article section {
	float: left;
	padding: 2%;
	width: 46%;
	}
}

/* Tablet Query */
@media (min-width: 768px ) {
	#home {
		max-height: 260px;
		max-width: 260px;
		margin: 0 36%;
	}
}



/* Mobile Query */
@media (min-width: 480px ) {
	section {
		display: block;
		float: none;
		width: 100%;
	}
	nav {
		float: none;
	}
	nav li {
		display: inline-block;
		width: 90%;
	}
}

